<div class="repo">
  <div class="info">
    <a>
      <%= repo.language %>
    </a>
    <a>
      <i class="fa fa-star-o"></i>
      <%= repo.stars %>
    </a>
    <a>
      <i class="fa fa-code-fork"></i>
      <%= repo.forks %>
    </a>
  </div>

  <h3>
    <%= link_to repo.name, repo.url %>
  </h3>

  <p>
    Updated <%= distance_of_time_in_words_to_now(repo.git_updated) %> ago
  </p>

</div>
