<div class="profile">
  <%= image_tag @profile.avatar_url %>
  <h2>
    <%= @profile.name %>
  </h2>
  <p>
    <%= @profile.location %>
  </p>
  <p>
    <%= @profile.company_name %>
  </p>
  <p>
    Followers: <%= @profile.followers %>
  </p>
  <p>
    Following: <%= @profile.following %>
  </p>
</div>

<div class="repo-list">
  <% @repositories.each do |repo| %>
    <%= render "repo", :repo => repo %>
  <% end %>
</div>
